

.product-detail {
    font-size: 12px;
    line-height: 18px;
    padding: 7px;
    height: 70px;
}

.product-detail > div {
    text-align: left;
    color: #484848;
}

.product-detail span {
    font-weight: 500;
}

.product-detail > p {
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
}

