

.product-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    
    gap: 10px;
}

.product-info {
    position:absolute;
    width: 303px;
    height: 45px;
    left: 80px;
    top:120px;
}
