
.content-header {
    width: 100%;
    height: 80px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

