@import './constants';

.navigation-separator {
    border: 1px solid gray;
}


.product-group {
    width: 100%;
    height: 100%;

}

.product-info {
    position:absolute;
    width: 303px;
    height: 45px;
    left: 80px;
    top:120px;
}

