
.site-navigation {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5%;
}

.navigation-logo {
    flex-shrink: 0;
}

