
.pagination{
    display:flex;
    gap:6px;
    justify-content: flex-start;
    margin: 20px 0 20px 0;
  }
  
  .pagination > button{
    padding:8px 12px;
    border: 1px solid gray;
    border-radius: 9px;
    color:gray;
    background-color:white;
  }

  .pagination-back-button {
    margin-right: 6px;
  }

  .pagination-next-button {
    margin-left: 6px;
  }