

.content-header-product-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #484848;
}

.content-header-searching-product {
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
}