
.search-box {
    flex: 1;
    height: 48px;
    background: #EEEEEE;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-button {
    border-radius: 50%;
    float:left;
    color:black;
    margin: 0 10px 0 10px;

}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: gray;
    font-size: 16px;
    transition: 0.4s;
    width: 100%;
    
}