

.select-box {
  border: none;
  height: 48px;
  background-color: white;
  color:rgba(27,31,35,0.3);
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 3px;
}

select, option {
  width: 122px;
}

select, option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}