@import '../constants';

.cart-element-content {
    
    overflow: auto;
    padding: 10px;
}

.cart-element-logo {
    float: left;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 2px;
}

.cart-element-header {
    color: #484848;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
}

.cart-element-delete-button {
    background: #FFFFFF;
    border: 1px solid  $hb-orange-color;
    border-radius: 4px;
    padding: 3px 9px;
    color: $hb-orange-color;
    margin-top: 27px;
}

